.page-header {
  min-height: 640px;
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 64px;
}

.page-header * {
  position: relative;
  z-index: 10;
}
