@import "../../scss/mixins.scss";
.page-header {
  min-height: 640px;
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 64px;
  @include sm-down {
    min-height: 480px;
    padding-bottom: 16px;
  }
}

.page-header * {
  position: relative;
  z-index: 10;
}
