@import "../../scss/mixins.scss";
.site-header {
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: inline-block;
  transform: translateY(-8px);
}

.svg-logo {
  width: 160px;
  margin-left: 16px;
  @include sm-down {
    margin-left: 0;
  }
}

.site-header nav {
  position: relative;
  z-index: 10;
}

.nav-link:hover {
  border-bottom: solid 1px;
}
