/*
$$$$$$\                      $$\               
$$  __$$\                     $$ |              
$$ /  \__|$$$$$$\  $$$$$$$\ $$$$$$\    $$$$$$$\ 
$$$$\    $$  __$$\ $$  __$$\\_$$  _|  $$  _____|
$$  _|   $$ /  $$ |$$ |  $$ | $$ |    \$$$$$$\  
$$ |     $$ |  $$ |$$ |  $$ | $$ |$$\  \____$$\ 
$$ |     \$$$$$$  |$$ |  $$ | \$$$$  |$$$$$$$  |
\__|      \______/ \__|  \__|  \____/ \_______/ 
*/

@font-face {
  font-family: 'Inter Regular';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter-Regular.woff') format('woff');
}