.case-study-excerpt-link {
  display: flex;
  flex-direction: column;
}

.case-study-excerpt-link:hover {
  text-decoration: underline;
}

.case-study-excerpt-link:focus {
  // outline-style: dotted !important;
  // outline-width: 2px !important;
  outline-color: black !important;
}
