@import "../../scss/mixins";

.cta-card {
  border: solid 1px black;
  padding-bottom: 100%;
  display: flex;
  position: relative;
  height: 0;
  z-index: 10;
  background-color: #fff;
  &__title {
    padding: 16px;
    width: 75%;
  }

  &__subtitle {
    padding: 16px;
    bottom: 0;
    position: absolute;
    font-size: 1.5rem;
  }

  &__arrow {
    padding: 16px;
    position: absolute;
    right: 0;
    top: 0;
    svg {
      width: 2.5rem;
    }
  }
}
