/* Reset Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
main,
menu,
summary {
  display: block;
}

a:hover:not(.nav-link) {
  text-decoration: underline;
}

.skip-links {
  position: absolute;
  top: 16px;
  left: 16px;
}

.page-sections {
  color: #161616;
  position: relative;
  z-index: 10;
}

@include md-down {
  .container {
    max-width: calc(100vw - 48px) !important;
  }
}

@include xs {
  .container {
    max-width: 100% !important;
  }
}
