.case-study-section {
  padding: 48px 0;
}

.quotation {
  padding: 96px 0;
}

.image-group {
  padding-bottom: 16px;
}

.case-study-nav {
  display: none;
  // Hide for now until we decide exactly how this should work
}
