.case-study-section {
  padding-top: 48px;
  padding-bottom: 96px;
}

.quotation {
  padding-top: 96px;
  padding-bottom: 96px;
}

.image-group {
  padding-bottom: 16px;
}

.case-study-nav {
  display: none;
  // Hide for now until we decide exactly how this should work
}

.case_study .page-sections {
  padding-bottom: 48px;
}
