@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap");

// Heldane Text

@font-face {
  font-family: "Heldane Text Regular";
  src: url("../fonts/heldane/heldane-text-web-regular.eot?#iefix");
  src: url("../fonts/heldane/heldane-text-web-regular.eot?#iefix") format("eot"),
    url("../fonts/heldane/heldane-text-web-regular.woff2") format("woff2"),
    url("../fonts/heldane/heldane-text-web-regular.woff") format("woff");
}

@font-face {
  font-family: "Heldane Text Regular Italic";
  src: url("../fonts/heldane/heldane-text-web-regular-italic.eot?#iefix");
  src: url("../fonts/heldane/heldane-text-web-regular-italic.eot?#iefix")
      format("eot"),
    url("../fonts/heldane/heldane-text-web-regular-italic.woff2")
      format("woff2"),
    url("../fonts/heldane/heldane-text-web-regular.woff") format("woff");
}

@font-face {
  font-family: "Heldane Text Medium";
  src: url("../fonts/heldane/heldane-text-web-medium.eot?#iefix");
  src: url("../fonts/heldane/heldane-text-web-medium.eot?#iefix") format("eot"),
    url("../fonts/heldane/heldane-text-web-medium.woff2") format("woff2"),
    url("../fonts/heldane/heldane-text-web-medium.woff") format("woff");
}

@font-face {
  font-family: "Heldane Text Medium Italic";
  src: url("../fonts/heldane/heldane-text-web-medium-italic.eot?#iefix");
  src: url("../fonts/heldane/heldane-text-web-medium-italic.eot?#iefix")
      format("eot"),
    url("../fonts/heldane/heldane-text-web-medium-italic.woff2") format("woff2"),
    url("../fonts/heldane/heldane-text-web-medium.woff") format("woff");
}

@font-face {
  font-family: "Heldane Text Bold";
  src: url("../fonts/heldane/heldane-text-web-bold.eot?#iefix");
  src: url("../fonts/heldane/heldane-text-web-bold.eot?#iefix") format("eot"),
    url("../fonts/heldane/heldane-text-web-bold.woff2") format("woff2"),
    url("../fonts/heldane/heldane-text-web-bold.woff") format("woff");
}

@font-face {
  font-family: "Heldane Text Bold Italic";
  src: url("../fonts/heldane/heldane-text-web-bold-italic.eot?#iefix");
  src: url("../fonts/heldane/heldane-text-web-bold-italic.eot?#iefix")
      format("eot"),
    url("../fonts/heldane/heldane-text-web-bold-italic.woff2") format("woff2"),
    url("../fonts/heldane/heldane-text-web-bold.woff") format("woff");
}
