.nav-toggle {
  display: none;
  z-index: 10000;
  @include sm-down {
    display: block;
    margin-left: auto;
    margin-right: 0;
    position: relative;
    z-index: 100;
  }
}

.nav {
  @include sm-down {
    position: fixed !important;
    top: 0;
    left: -200vw;
    width: 100vw;
    height: 100vh;
    background-color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;
  }
}

.nav-link {
  color: var(--font-color);
}

@include sm-down {
  .nav-wrapper .nav-link {
    color: var(--bg-color) !important;
    font-family: $serif;
    font-size: 9.6rem;
  }
}

.nav.open {
  @include sm-down {
    left: 0;
  }
}

.nav-wrapper.open .nav-toggle {
  color: var(--bg-color) !important;
}
