@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #161616;
  background-color: #fff;
}

.page-sections {
  background-color: #fff;
  color: #161616;
}

.skip-link {
  @apply sr-only;

  &:focus {
    @apply not-sr-only;
  }
}

.multi-col-service-listing {
  ul {
    columns: 4 auto;
    // column-gap: $col-gap;
    li {
      break-inside: avoid;
    }
  }
}
