@import "../../scss/mixins.scss";
.grid-col {
  border-left: solid black 1px;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.grid-col:last-of-type {
  border-right: solid black 1px;
}

.grid {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vw;
  width: 100vw;
  pointer-events: none;
  @include xs {
    display: none !important;
  }
}

.grid .container,
.grid .row {
  height: 100vh;
}
@include sm-down {
  .grid-col {
    &-2 {
      border-right: solid black 1px;
    }
    &-3,
    &-4 {
      display: none;
    }
  }
}

// .grid ~ * {
//   position: relative;
// }
